
h4{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 3px;
    margin-top: 0px;
    align-content: stretch;
}
input[type=text] {

    width:80%;
    height:20%;
    font:Verdana, Geneva, sans-serif;
    font-size:90px;
    align-content: center;
}   

input[type=text]:focus {
  width: 100%;
  background-color: lightyellow;
}

body{
    background-color: black;
    color: white;
    
}
thead,header{
    background-color: red;
    color:white;
    a.link{
        color:yellow;
    }
    a:visited{
        color:white;
    }
}
tbody tr:nth-child(odd) {
  background-color: white;
  color:black;
}

tbody tr:nth-child(even) {
  background-color: grey;
}

tbody tr {
 
}

table {
  align-content: center;  
  float: inside;  
  vertical-align: middle;
  text-align: center;
  font-size: 2.5em;

  header{
    background-color: orange;
    color:yellow;
    }
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}

.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}