
h4{
    padding-bottom: 00px;
    padding-top: 0px;
    margin-bottom: 3px;
    margin-top: 0px;
    align-content: stretch;
}
input[type=text] {
    width: 100%;
}   
input[type=text]:focus {
  width: 100%;
  background-color: lightyellow;
}

body{
    background-color: black;
    color: white;
    
}
thead,header{
    background-color: red;
    color:white;
    a.link{
        color:yellow;
    }
    a:visited{
        color:white;
    }
}
tbody tr:nth-child(odd) {
  background-color: white;
  color:black;
}

tbody tr:nth-child(even) {
  background-color: grey;
}

tbody tr {
  background-image: url(noise.png);
}

table {
    
  float: inside;  
  vertical-align: middle;
  text-align: center;

  header{
    background-color: orange;
    color:yellow;
    }
}

